<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Encode Secret</title>
</head>
<body>
<form method="post">
	<h1>Encode or decode your message</h1>
	<label, for="key">Key</label><BR>
	<textarea type="key" name="key" value="" rows=2 cols=40/></textarea>
	<BR><BR><label for="secret">Secret / Encoded Secret</label><BR>
    <textarea type="secret" name="secret" rows=10 cols=60></textarea>
	<BR><BR><input type="submit", name="mode", value="encode">
	<input type="submit", name="mode", value="decode">
</form>

<p>Encoded:<p>
<p class=result>{{ result }}</p>

</body>
</html>
